@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 42, 0, 114;
  --background-end-rgb: 42, 0, 114;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 42, 0, 114;
    --background-end-rgb: 42, 0, 114;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at center, transparent, rgba(0, 0, 0, 0.673) 100%);
  z-index: -1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
